
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-width: calc(60vw / 3); 
  --card-height: calc(var(--card-width) * 1.2); 
}

body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
}


.card {
  margin: 10px;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 10vw;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: cursive;
}
@media (max-width: 600px) {
  .card {
    width: fit-content;
    height: 15vh;
    width: 15vh;
    font-size: 8vh;
    padding: 20px;
    text-align: center;
  }
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .cardContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  }
}



.lastPlayed{
  background: #212534;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: cursive;
}
@media (max-width: 600px) {
  .lastPlayed {
    font-size: 4.3vh;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .lastPlayed {
    font-size: 4vw;
  }
}
@media (min-width: 901px) {
  .lastPlayed {
    font-size: 6vw;
  }
}

.levelTag{
  display: flex;
  padding: 0;
  justify-content: center; 
  align-items: center;
  font-size: 1vh;
}

.readybuttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.readyButton{
  font-size: 15vw;
  border-radius: 10px;
  cursor: pointer;
  color: #0b0b0b;
}


.failureDiv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e74c3c; 
  z-index: 9999;
  opacity: 0.9; 
}

.failure {
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000; 
  font-size: 18vh;
  font-weight: bold;
  margin: 0;
}

.playAgain {
  background-color: #3498db; 
  border: none;
  font-size: 4vh;
  color: #fff;
  border-radius: 5px;
  padding: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playAgain:hover {
  background-color: #2980b9; 
}


.winDiv {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00942a;
  z-index: 9999; 
  opacity: 0.9; 
}

.win {
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000; 
  font-size: 18vh;
  font-weight: bold;
  margin: 0;
}

.continueButton {
  background-color: #3498db; 
  border: none;
  padding: 2vh;
  font-size: 4vh;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continueButton:hover {
  background-color: #2980b9; 
}

.countDown{
    font-size: 20vh;    
    text-align: center;
    font-weight: bold;
    color: #000000;   
    padding: 20px;
}

.miniCardContainer {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

.miniCardPlayer {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin: 10px;
}

.miniCard {
  margin: 3;
  background: #343c5d;
  width: 5vw;
  height: 5vh;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgb(88 199 250 / 100%);
  cursor: pointer;
  font-family: cursive;
  margin: 1vw;
  
}

